<footer class="footer custom-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About ShowBooker</h5>
          <p>ShowBooker is the one-stop platform for booking tickets for your favorite shows and events. We provide a wide range of entertainment options, including movies, concerts, plays, and comedy shows.</p>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: support@showbooker.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" target="_blank">Facebook</a></li>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">Instagram</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h5>Latest Movies</h5>
          <ul class="list-unstyled">
            <li><a href="#">Movie 1</a></li>
            <li><a href="#">Movie 2</a></li>
            <li><a href="#">Movie 3</a></li>
            <!-- Add more latest movies here -->
          </ul>
        </div>
        <div class="col-md-6">
          <h5>Upcoming Comedy Shows</h5>
          <ul class="list-unstyled">
            <li><a href="#">Comedy Show 1</a></li>
            <li><a href="#">Comedy Show 2</a></li>
            <li><a href="#">Comedy Show 3</a></li>
            <!-- Add more upcoming comedy shows here -->
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
