.movies-section {
    width: 100%;
    padding: 0 20px; /* Add padding of 20px from left and right */
    margin-top: 40px;
    text-decoration: none;
  }
/* Carousel Section */
.carousel-section {
    margin-top: 20px;
  }
  
  .carousel-inner img {
    max-height: 400px; /* Set a maximum height for the carousel images */
    object-fit: cover; /* Make sure the images cover the carousel area */
  }
  

  