/* navbar.component.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar-logo {
  font-weight: bold;
  font-size: 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 15px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-menu li a:hover {
  color: #ff0000;
}
